<div class="media-footer" id="<%= dom_id(message, :footer) %>">
  <small class="text-muted">
    <%= link_to(message.from.name, message.from) %>
    at
    <%= message.created_at.strftime(t('views.messages.format_time')) %>
  </small>
</div>
