.profile.container
  %nav
    %ul.nav.nav-pills.nav-justified
      %li.active
        = link_to("Services", "#")
      %li
        = link_to("Products", "#")
      %li
        = link_to("Articles", "#")
      %li
        = link_to("Photos", "#")
