.profile.container
  %nav
    %ul.nav.nav-pills.nav-justified
      %li.active
        = link_to(t('profiles.shared.services'), "#")
      %li
        = link_to(t('profiles.shared.products'), "#")
      %li
        = link_to(t('profiles.shared.articles'), "#")
      %li
        = link_to(t('profiles.shared.photos'), "#")
