%h1 Listing profiles

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @profiles.each do |profile|
      %tr
        %td= link_to t('.show'), profile
        %td= link_to t('.edit'), edit_profile_path(profile)
        %td= link_to t('.destroy'), profile, :method => :delete, :data => { :confirm => t('.confirm') }

%br

= link_to t('.new'), new_profile_path
