.col-md-4
  .panel.panel-default.panel-profile[]
    .panel-heading{style: "background-image: url('http://res.cloudinary.com/hudgq2erh/image/upload/c_lfill,h_150,q_100,w_378/v1489614805/Santa-Barbara-Style-Home-in-Paradise-Valley-Phoenix-39_qegiit.jpg');", href: "#"}
    .panel-body
      %h5.panel-title
        123 Sample Street
      .details
        %p.neighborhood.m-b-0
          San Roque - Santa Barbara, CA 93105
        %p.pricing
          %span.sale-price $1,850,000
          $697/sf

          &nbsp;
          %span.stats
            %span.icon.icon-home
            4bd 3ba 1,667sf
        %hr
        %p.description
          Classic 1928 English Country Tudor home designed by renowned Santa Barbara Architects, Edwards, Plunkett & Howell. Private 3 bedroom 2.5 bath..
        .controls
          %p.pull-right
            %span.icon.icon-heart
            3
            &nbsp;
            &nbsp;
            %span.glyphicon.glyphicon-share-alt
          %p.updated
            Updated 2 days ago
