%h1 Listing ambassadorships

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @ambassadorships.each do |ambassadorship|
      %tr
        %td= link_to t('.show'), ambassadorship
        %td= link_to t('.edit'), edit_ambassadorship_path(ambassadorship)
        %td= link_to t('.destroy'), ambassadorship, :method => :delete, :data => { :confirm => t('.confirm') }

%br

= link_to t('.new'), new_ambassadorship_path
