%h1 Listing articles

%table
  %thead
    %tr
      %th Title
      - if Article.authorized_for_create?(current_user)
        %th
        %th

  %tbody
    - @articles.each do |article|
      %tr
        %td= link_to(article.title, article)
        - if Article.authorized_for_create?(current_user)
          %td
            - if article.authorized_for_edit?(current_user)
              = link_to 'Edit', edit_article_path(article)
          %td
            - if article.authorized_for_edit?(current_user)
              = link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

- if Article.authorized_for_create?(current_user)
  = link_to 'New Article', new_article_path
