.modal-dialog.modal-sm{role: 'document'}
  .modal-content
    .modal-header
      %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
        %span{'aria-hidden' => 'true'} ×
      %h4.modal-title Sending E-mail To:

    .modal-body
      = simple_form_for(:mailer, url: url, method: :post, remote: true) do |f|
        = f.input :recepients, as: :text, label: 'To:', placeholder: I18n.t('mailer_form.recepients')
        = f.input :include_sender, as: :boolean, label: I18n.t('mailer_form.include_sender'), input_html: { checked: true }

        .modal-actions
          %button.btn-link.modal-action{'data-dismiss' => 'modal', type: 'button'} Cancel
          %button.btn-link.modal-action{type: 'submit'}
            %strong
              %span.icon.icon-paper-plane
              Send
