%h1 Areas

%table
  %thead
    %tr
      %th Name
      %th
      %th

  %tbody
    - @areas.each do |area|
      %tr
        %td= link_to(area.name, area)
        %td= link_to 'Edit', edit_area_path(area)
        %td= link_to 'Destroy', area, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Area', new_area_path, class: "new_object"
