.container
  %h2
    Vendors
    %span.small= link_to("Create New...", new_vendor_path, class: "small")

  - @vendors.in_groups_of(3, false) do |group|
    .row
      - group.each do |vendor|
        = render partial: "profiles/profile", locals: {profile: vendor.profile, profile_link: profile_path(vendor.profile)}
