.container
  %h2= t('.title')
  - @users.in_groups_of(3, false) do |group|
    .row
      - group.each do |user|
        = render partial: "profiles/profile", locals: {profile: user.profile, profile_link: trailblazer_articles_path(user)}
