// Place all the styles related to the areas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.profile-header-bio {
  background-color: rgba(2, 1, 15, 0.65);
  color: white;
  padding: 1em;
  border-radius: 10px;
}

body.areas {
  #articles {
    @extend .col-md-8;
    @extend .m-t;
  }

  .article {
    @extend .row;
    @extend .m-b;

    .image {
      @extend .col-md-4;

      img {
        @extend .img-responsive;
        @extend .img-rounded;
      }
    }

    .synopsis {
      h3 { @extend .m-t-0; }
    }
  }
}
