// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

article.article {
  @extend .col-md-8;
}

article img {
  @extend .img-rounded;
}

header .category {
  font-weight: bold;
}

.embedded-profile, .author-profile {
  @extend .col-md-4;
}

.secondary-photo {
  float: right;
  margin-left: 1em;
}

.tertiary-photo {
  width: 200px;
}

.article.row {
  @extend .m-y;

  img {
    @extend .img-responsive;
  }

  .feature-photo {
  }

  .synopsis {
  }
}

.article-preview {
  .byline {
    margin: 1em 0;
    font-size: 13px;
    line-height: 1em;
  }

  .category {
    text-transform: uppercase;
    font-weight: bold;

    a {
      color: $orange;
    }
  }

  .title {
    font-weight: bolder;
    font-size: 33px;
    line-height: 1.2em;
    color: $dark-gray;
  }

  .link {
    font-weight: bolder;
  }
  .abstract p {
    line-height: 1.3em;
  }
}
