// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

article.article {
  @extend .col-md-8;
}

article img {
  @extend .img-rounded;
}

header .category {
  font-weight: bold;
}

.author-profile {
  @extend .col-md-4;
}

.secondary-photo {
  float: right;
  margin-left: 1em;
}

.tertiary-photo {
  width: 200px;
}

.article.row {
  @extend .m-y;

  img {
    @extend .img-responsive;
  }

  .feature-photo {
  }

  .synopsis {
  }
}
