$dark: #173264;
$accent: #23a68e;
$highlight: #dd6828;
$inverse: white;

$navbar-background: #3097d1;
$navbar-border: #1c73a5;
$body-text: #333;


// New Design
$blue: #16619d;
$dark-gray: #414141;
$light-blue: #16619d;
$pastel-blue: #7aa0c3;
$light-gray: #a7a7a7;
$orange: #ff7200;
$white: #fff;
$savv-green: #28ab61;
