#main{
  .container{
    .navbar-default{
      border-color: transparent;
    }
    .navbar-default.nav-upper {
      height: 50px;
    }

    @media (min-width: 768px) {
      .navbar.navbar-lower .navbar-nav {
        margin-left: 100px;
      }
    }
    .navbar-lower{
      .navbar-header{
        .navbar-brand{
          padding:0px;
        }
      }
      ul.nav{
        margin-right: 0px;
        li{
          a{

            &:hover{
              background-color:#f5fbfb;
            }
          }
        }
      }
    }
  }
}
ul.nav {
  text-transform: uppercase;

  a {
    font-weight: bold;
    color: $dark;
  }
}

.navbar-btn-avitar img {
  height: 33px;
  width: 33px;
}
