.google-map {
  height: 400px;
}

.property .panel-profile .panel-heading, .open_house .panel-profile .panel-heading {
  height: 230px;
}

.open_house .panel-body, .property .panel-body {
  .notes { display: none; }
  .property-info { display: block; }

  &.notes {
    .notes { display: block; }
    .property-info { display: none; }
  }
}
