.google-map {
  height: 400px;
}

.property .panel-profile .panel-heading, .open_house .panel-profile .panel-heading {
  height: 230px;
}

.open_house .panel-body, .property .panel-body {
  .notes { display: none; }
  .property-info { display: block; }

  &.notes {
    .notes { display: block; }
    .property-info { display: none; }
  }
}

.open_house .panel-heading, .property .panel-heading {
  padding: 0;

  .banner {
    @extend .p-x;
    @extend .m-y-0;
    background-color: rgba(255, 255, 255, 0.65);
    color: $dark-gray;
  }
}
