body.sessions, body.registrations, body.passwords, body.confirmations, body.mailer, body.unlocks, body.feature_requests {
  .app-login-form {
    max-width: 380px;
  }

  .app-login-form .form-group input {
    @extend .form-control;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #9da9b0;
    border-radius: 0;
  }

  .app-brand {
    display: inline-block;
  }

  .actions input {
    @extend .btn;
    @extend .btn-primary;
    border: none;
    height: 44px;
    width: 100%;
  }

  footer.screen-login {
    margin-top: 30px;

    a {
      @extend .text-muted;
      margin: 0 10px;
    }
  }

}
