body.sessions, body.registrations {
  #container {
    @extend .container-fluid;
    @extend .container-fill-height;
  }

  .app-login-form {
    max-width: 380px;
    margin-top: -60px;
  }

  .app-login-form .form-group input {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #9da9b0;
    border-radius: 0px;
  }

  .app-brand {
    display: inline-block;
  }

  .actions input {
    @extend .btn;
    @extend .btn-primary;
    border: none;
    height: 44px;
    width: 100%;
  }

  footer {
    margin-top: 30px;

    a {
      @extend .text-muted;
      margin: 0 10px;
    }
  }

}
