- if user.role?('trailblazer')
  %td.authorization-link[user]= link_to(t('authorizations.remove'), delete_authorization_path(user, 'trailblazer'), method: :delete, remote: true, confirm: t('.confirm'))
- else
  %td.authorization-link[user]= button_to(t('authorizations.grant'), create_authorization_path(user, 'trailblazer'), mathod: :post, remote: true)
