#mc_embed_signup_inline.row
  %form#mc-embedded-subscribe-form.validate.form-inline
    %label STAY IN THE KNOW
    .input-group
      %input.required.form-control{type: 'email', name: 'EMAIL', placeholder: 'email'}
      %div{'aria-hidden' => 'true', style: 'position: absolute; left: -5000px;'}
        %input{name: 'b_85da8e009c3f5f2df02ff00cc_eb4f9b539c', tabindex: '-1', type: 'text', value: ''}
      %span.input-group-btn
        %button.btn{type: 'submit', name: 'subscribe'} SUBMIT
  #mce-responses.clear
    #mce-error-response.m-t.response{style: 'display:none'}
    #mce-success-response.m-t.response{style: 'display:none'}
